<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <appSettings>
    <!--Los archivos a procesar solo deben ser lineas tipo json ejemplo
    {"initialBalances": {"cash": 10, "issuers": []}}
    {"timestamp": 1571325625, "operation": "BUY", "IssuerName": "GBM", "TotalShares": 5, "SharePrice": 100}
    donde la primera linea sera el balance inicial las demas seran ordenes de compra/venta
    -->
    <!--Carpeta donde se debe dejar los archivos a procesar-->
    <add key="FilesRequestIn" value="D:\GbmFile\REQ" />
    <!--Carpeta donde se dejan los archivos procesados-->
    <add key="BackUpFilesRequestPath" value="D:\GbmFile\BackUpReq" />
    <!--Carpeta donde se deja la respuesta de los archivos procesados-->
    <add key="FilesResponseIn" value="D:\GbmFile\RES" />
    <!--Carpeta donde se procesan los archivos en tiempo real-->
    <add key="FileProcess" value="D:\GbmFile\Processing" />
  </appSettings>
</configuration>